.profile-img{
    width: 50px;
    padding:50px;
    background-color: rgb(186, 199, 199);
    border: 10px solid gray;
    margin: 10px;
}
.profile-card{
    width: 465px;
    background-color: rgb(168, 218, 190);
    border:px solid gray;
    margin: 30px;
    padding: 2%;
    text-align: center;
}
 .profile-card:hover{
   opacity: o.5;
   color: indianred;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
img{
    width: 50%;
    border-radius: 50%;
}
h1,p{
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 50px;
}

@media screen and (max-width:700px){
    .profile-card{
        max-width: 400px;
    }
    .profile-img{
        width: 120px;
        height: 120px;
    }
}

.skill{
    width: 465px;
    padding: 2%;
    background-color: rgb(157, 151, 132);
    border:px solid gray;
    margin: 30px;
 
}

.skill:hover{
    opacity: o.5;
    color: rgba(244, 109, 47, 0.753);
    box-shadow: 0 4px 8px 0 rgba(149, 8, 8, 0.2);
   }

.contact{
    width: 465px;
    padding: 2%;
    background-color: #655151;
    border:px solid gray;
    margin: 30px;
 
}

.contact:hover{
       color: rgb(247, 207, 158);
       box-shadow: 0 4px 8px 0 rgba(149, 8, 8, 0.2);
   }